@import "../../styles/colors";
@import "../../styles/metrics";

.button {
  display: flex;
  font-size: 18px;
  padding: $default-margin;
  background-color: aliceblue;
  color: $primary-color;
  border-radius: $default-border-radius;
  flex: 0;
  text-align: center;
  margin: $default-margin;
  border: $default-border-width solid $primary-color;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}
