.developer-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .invite-link-container {
    display: flex;
    align-items: flex-end;
  }

  &__container {
    display: flex;
  }
}
